

<h2>SIGN IN</h2>

<%= simple_form_for :session, url: sign_in_path, method: :post do |f| %>
  <%= f.input :email, label: 'Email' %>
  <%= f.input :password, label: 'Password', as: :password %>
  <%= f.button :submit, "Sign In" %>
<% end %>
